<a href="https://colab.research.google.com/github/IvanCampos11/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [66]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [67]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [68]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48817 entries, 0 to 49351
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bathrooms             48817 non-null  float64
 1   bedrooms              48817 non-null  int64
 2   created               48817 non-null  object
 3   description           47392 non-null  object
 4   display_address       48684 non-null  object
 5   latitude              48817 non-null  float64
 6   longitude             48817 non-null  float64
 7   price                 48817 non-null  int64
 8   street_address        48807 non-null  object
 9   interest_level        48817 non-null  object
 10  elevator              48817 non-null  int64
 11  cats_allowed          48817 non-null  int64
 12  hardwood_floors       48817 non-null  int64
 13  dogs_allowed          48817 non-null  int64
 14  doorman               48817 non-null  int64
 15  dishwasher            48817 non-null  int64
 16  no_fee                48817 non-null  int64
 17  laundry_in_building   48817 non-null  int64
 18  fitness_center        48817 non-null  int64
 19  pre-war               48817 non-null  int64
 20  laundry_in_unit       48817 non-null  int64
 21  roof_deck             48817 non-null  int64
 22  outdoor_space         48817 non-null  int64
 23  dining_room           48817 non-null  int64
 24  high_speed_internet   48817 non-null  int64
 25  balcony               48817 non-null  int64
 26  swimming_pool         48817 non-null  int64
 27  new_construction      48817 non-null  int64
 28  terrace               48817 non-null  int64
 29  exclusive             48817 non-null  int64
 30  loft                  48817 non-null  int64
 31  garden_patio          48817 non-null  int64
 32  wheelchair_access     48817 non-null  int64
 33  common_outdoor_space  48817 non-null  int64
dtypes: float64(3), int64(26), object(5)
memory usage: 13.0+ MB

In [70]:
df['created'] = pd.to_datetime(df['created'])

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48817 entries, 0 to 49351
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bathrooms             48817 non-null  float64
 1   bedrooms              48817 non-null  int64
 2   created               48817 non-null  datetime64[ns]
 3   description           47392 non-null  object
 4   display_address       48684 non-null  object
 5   latitude              48817 non-null  float64
 6   longitude             48817 non-null  float64
 7   price                 48817 non-null  int64
 8   street_address        48807 non-null  object
 9   interest_level        48817 non-null  object
 10  elevator              48817 non-null  int64
 11  cats_allowed          48817 non-null  int64
 12  hardwood_floors       48817 non-null  int64
 13  dogs_allowed          48817 non-null  int64
 14  doorman               48817 non-null  int64
 15  dishwasher            48817 non-null  int64
 16  no_fee                48817 non-null  int64
 17  laundry_in_building   48817 non-null  int64
 18  fitness_center        48817 non-null  int64
 19  pre-war               48817 non-null  int64
 20  laundry_in_unit       48817 non-null  int64
 21  roof_deck             48817 non-null  int64
 22  outdoor_space         48817 non-null  int64
 23  dining_room           48817 non-null  int64
 24  high_speed_internet   48817 non-null  int64
 25  balcony               48817 non-null  int64
 26  swimming_pool         48817 non-null  int64
 27  new_construction      48817 non-null  int64
 28  terrace               48817 non-null  int64
 29  exclusive             48817 non-null  int64
 30  loft                  48817 non-null  int64
 31  garden_patio          48817 non-null  int64
 32  wheelchair_access     48817 non-null  int64
 33  common_outdoor_space  48817 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(26), object(4)
memory usage: 13.0+ MB

In [72]:
y = df['price']
y.shape

(48817,)

In [73]:
X = df.drop('price', axis=1)
X.shape

(48817, 33)

In [74]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48817 entries, 0 to 49351
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bathrooms             48817 non-null  float64
 1   bedrooms              48817 non-null  int64
 2   created               48817 non-null  datetime64[ns]
 3   description           47392 non-null  object
 4   display_address       48684 non-null  object
 5   latitude              48817 non-null  float64
 6   longitude             48817 non-null  float64
 7   street_address        48807 non-null  object
 8   interest_level        48817 non-null  object
 9   elevator              48817 non-null  int64
 10  cats_allowed          48817 non-null  int64
 11  hardwood_floors       48817 non-null  int64
 12  dogs_allowed          48817 non-null  int64
 13  doorman               48817 non-null  int64
 14  dishwasher            48817 non-null  int64
 15  no_fee                48817 non-null  int64
 16  laundry_in_building   48817 non-null  int64
 17  fitness_center        48817 non-null  int64
 18  pre-war               48817 non-null  int64
 19  laundry_in_unit       48817 non-null  int64
 20  roof_deck             48817 non-null  int64
 21  outdoor_space         48817 non-null  int64
 22  dining_room           48817 non-null  int64
 23  high_speed_internet   48817 non-null  int64
 24  balcony               48817 non-null  int64
 25  swimming_pool         48817 non-null  int64
 26  new_construction      48817 non-null  int64
 27  terrace               48817 non-null  int64
 28  exclusive             48817 non-null  int64
 29  loft                  48817 non-null  int64
 30  garden_patio          48817 non-null  int64
 31  wheelchair_access     48817 non-null  int64
 32  common_outdoor_space  48817 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(25), object(4)
memory usage: 12.7+ MB

In [75]:
X.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 33 columns]

In [86]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

In [77]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [78]:
X_train = X[((X['created'] >= '2016-04-01') & (X['created'] <= '2016-05-31'))]
y_train = y[y.index.isin(X_train.index)]

In [79]:
X_test = X[((X['created'] > '2016-05-31') & (X['created'] <= '2016-06-30'))]
y_test = y[y.index.isin(X_test.index)]

In [80]:
features = ['bedrooms', 'bathrooms']

In [82]:
lr = LinearRegression()
lr.fit(X_train[features], y_train)

mae1 = mean_absolute_error(y_train, lr.predict(X_train[features]))
mae2 = mean_absolute_error(y_test, lr.predict(X_test[features]))

print('Training error:', mae1)
print('Testing error:', mae2)

Training error: 818.5515973109569
Testing error: 825.887198591426

In [90]:
mse1 = mean_squared_error(y_train, lr.predict(X_train[features]))
mse2 = mean_squared_error(y_test, lr.predict(X_test[features]))

rmse1 = np.sqrt(mse1)
rmse2 = np.sqrt(mse2)
print('Training RMSE:',rmse1)
print('Testing RMSE:',rmse2)

Training RMSE: 1232.069717201723
Testing RMSE: 1219.6351537014523

In [84]:
lr.intercept_, lr.coef_

(485.93860606945555, array([ 389.49116192, 2072.30646588]))

In [85]:
print('Intercept', lr.intercept_)
coefficients = pd.Series(lr.coef_, features)
print(coefficients.to_string())

Intercept 485.93860606945555
bedrooms      389.491162
bathrooms    2072.306466