<a href="https://colab.research.google.com/github/IvanCampos11/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [73]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [74]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [75]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [76]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [77]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [78]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [79]:
test = df.dropna(thresh=370, axis=1)
test = test.drop('Great', axis=1)

In [107]:
X = df.dropna(thresh=370, axis=1)

In [108]:
X['Date'] = pd.to_datetime(X['Date'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [110]:
y= X.pop('Great')

In [84]:
y.shape

(421,)

In [113]:
X.head()

      Burrito       Date  Cost  Hunger  ...  Uniformity  Salsa  Synergy  Wrap
0  California 2016-01-18  6.49     3.0  ...         4.0    4.0      4.0   4.0
1  California 2016-01-24  5.45     3.5  ...         4.0    3.5      2.5   5.0
2    Carnitas 2016-01-24  4.85     1.5  ...         4.0    3.0      3.0   5.0
3       Asada 2016-01-24  5.25     2.0  ...         5.0    4.0      4.0   5.0
4  California 2016-01-27  6.59     4.0  ...         5.0    2.5      4.5   4.0

[5 rows x 13 columns]

In [114]:
X.shape

(421, 13)

In [115]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2,random_state=42)

In [116]:
X_train = X[((X['Date'] <= '2016-01-01'))]
y_train = y[y.index.isin(X_train.index)]

In [117]:
X_val = X[((X['Date'] >= '2017-01-01') & (X['Date'] <= '2017-12-31'))]
y_val = y[y.index.isin(X_val.index)]

In [118]:
X_test = test[((test['Date'] >= '2018-01-01'))]
y_test = y[y.index.isin(X_test.index)]

In [119]:
y_train.value_counts(normalize=True)

True     0.5
False    0.5
Name: Great, dtype: float64

In [120]:
#had to double check to see if my y_train had different values, as 0.5 on both seemed off
y_train.head()

109    False
112     True
Name: Great, dtype: bool

In [103]:
assert X_train.shape[0] == len(y_train)
assert X_val.shape[0] == len(y_val)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from category_encoders import OneHotEncoder 
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer